{# templates/chaton.html.twig #}
<h1>Welcome to my awesome site, where you can see this cute little guy named Fred.</h1>
<img src="{{ asset('img/tardigrade.jpg') }}" alt="Symfony!" />
<h6>I Swear that's the cutest animal in all history.</h6>
<h3>If you don't like him, you can always satisfy yourself with his host: <a href="http://127.0.0.1:1337/chaton">Fred</a>.</h3>