{# templates/chaton.html.twig #}
<h1>Welcome to my awesome site, where you can see this cute little guy named Fred.</h1>
<img src="{{ asset('/img/chaton.jpg') }}"  />
<h6>But way less cute than Fred of course.</h6>